# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/

# Uploads (these should be managed separately in production)
public/uploads/*
!public/uploads/.gitkeep

# TypeScript
*.tsbuildinfo
payload-types.ts

# Logs
*.log
npm-debug.log*
